<div class="outers">
  <div class="middles">
    <div class="inners">
      <div class="row">
        <%
        @list.each do |list|
        obj = DashboardVo.new(list)
        %>
        <div class="col-sm-4">
          <%= link_to obj.linkto do %>
          <div style="max-width:250px; padding:10px;">
            <div class="card">
              <div class="card-body text-center" style="height:180px;">
                <%= image_tag obj.icon, style: 'width:80px;height:80px;' %>
                <% if obj.underconstruction %>
                <p class="card-title mt-3"><%= obj.name %><br><span class="badge badge-danger">Feature not ready</span></p>
                <% else %>
                <p class="card-title mt-3"><%= obj.name %><br><span class="badge badge-success">Ready</span></p>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <p class="text-center text-muted"><small>User login : <%= session[:email] %> </small></p>
    </div>
  </div>
</div>
