<div class="bo">
  <div class="bo-form-login">
    <div class="text-center" style="margin:auto;">
      <%= form_for(:session, :html => {class: "form-signin", role: "form"}, url: login_path ) do |f| %>
      <div class="card" style="padding:30px">
        <div class="card-body">
          <%= image_tag 'logo-full.png', style: 'width:100%; height:auto;'%>
          <hr class="mt-3 mb-5">
          <%= f.label :email, class: 'sr-only' %>
          <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
          <%= f.label :password, class: 'sr-only' %>
          <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
          <%= f.submit "Log in", class:"btn btn-primary btn-block" %>
          <p class="text-center mt-3 mb-5">
            <small><%= link_to 'Forgotten account?', forget_path %></small>
            <small>or</small>
            <small><%= link_to 'Create an account?', signup_path %></small>
          </p>
          <p class="mt-0 mb-0 text-muted">&copy; SimpleApp 2019</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
