<%= render 'layouts/nav_top_menu' %>

<div class="center">
  <div class="row">
    <div class="col-6" align="left">
    </div>
    <div class="col-6" align="right">
        <%= link_to 'Create New', new_user_path, class:"btn btn-success btn-sm" %>
    </div>
  </div>

  <br>

  <table class="table table-bordered table-sm">
    <thead>
      <tr align="center">
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Job Position</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @userJobPosition.each_with_index do |arr, index| %>
      <% val = UserJobPosition.new(arr) %>
      <tr>
        <th scope="row"><%= (index + 1) %></th>
        <td align="center"><%= val.name %></td>
        <td align="center"><%= val.username %></td>
        <td align="center"><%= val.email %></td>
        <td align="center"><%= val.role_name %></td>
        <td align="center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Change', edit_user_path(val.id), class:"btn btn-warning btn-sm" %>
            <%= link_to 'Delete', user_path(val.id),
                method: :delete, data: { confirm: "Are you sure want to delete this user?"},
                class: "btn btn-danger btn-sm" %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
