<%= render 'layouts/nav_top_menu' %>

<div class="center">

  <div class="row">
    <div class="col-6" align="left">
      <!-- <span>Material Stock</span> -->
    </div>
    <div class="col-6" align="right">
        <%= link_to 'Create New', new_material_path, class:"btn btn-success btn-sm" %>
        <%= link_to 'Import CSV', materials_import_csv_path, class:"btn btn-dark btn-sm" %>
        <%= link_to 'Export CSV', materials_path(format: "csv"), class:"btn btn-primary btn-sm" %>
    </div>
  </div>

  <br>

  <table class="table table-bordered">
    <thead>
      <tr align="center">
        <th scope="col">No</th>
        <th scope="col">Material Name</th>
        <th scope="col">Current Stock Qty</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @material_list.each_with_index do |val, index| %>
      <tr>
        <th scope="row"><%= (index + 1) %></th>
        <td align="left"><%= val.material_name %></td>
        <td align="right"><%= number_with_delimiter(val.stock_qty) %></td>
        <td align="center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'View', material_path(val), class:"btn btn-info btn-sm" %>
            <%= link_to 'Change', edit_material_path(val), class:"btn btn-warning btn-sm" %>
            <%= link_to 'Delete', material_path(val),
                method: :delete, data: { confirm: "Are you sure want to delete this article?"},
                class: "btn btn-sm btn-danger" %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
